body{
	font-family: 'Montserrat', sans-serif;
	min-width: 320px;
	color: #1d1d1d;
}
img{
	max-width: 100%;
	height: auto;
}
section{
	padding: 100px 0;
}
h3{
	font-style: italic;
	font-size: 42px;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
h4{
	font-weight: 600;
	font-size: 44px;
	margin-bottom: 20px;
}

/* ==================== header ===================*/
.main-header {
	background: url('../img/main1.jpg') center/cover no-repeat fixed;
	height: 100vh;
	min-height: 600px;
	position: relative;
	text-shadow: 0 0 3px rgba(0, 0, 0, .8);
}
.main-header .navbar-toggler {
	color: #fff;
	font-size: 1.6rem;
}

.main-header .navbar-brand,
.main-header ul li a {
	color: #fff;
	font-weight: 600;
}

.main-header .navbar-brand {
	font-size: 41px;
}

.main-header ul li a {
	font-size: 17px;
}

.main-header ul li a::after {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #fff;
	transform: scale(0);
	transition: all .3s;
}

.main-header ul li a:hover::after {
	transform: scale(1);
}

.main-header-text {
	position: absolute;
	top: 25%;
	left: 20%;
	max-width: 800px;
	color: #fff;
	padding: 20px;
}

.main-header-buttons {
	padding-left: 20px;
}

.btn {
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}

.main-header-buttons .btn {
	height: 60px;
	padding-left: 40px;
	padding-right: 40px;
	margin-right: 20px;
	margin-top: 30px;
	opacity: .8;
	transition: all 1.2s;
	box-shadow: 0 4px 16px rgba(0, 0, 0, .9);
}

.main-header-buttons .btn:hover {
	color: #fff;
	opacity: 1;
	transition: all 1.2s;
}

.btn-pink {
	background: #693939;
}

.btn-violet {
	background: #063263;
}

/* ================ .section-watch ================= */
.section-watch {
    background: url('../img/world_map.png') center/cover no-repeat;
}

.section-watch h3,
.section-watch h4 {
    color: #484848;
}

.nav-pills .nav-link {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #484848;
    padding: 14px 30px;
}

.nav-pills {
    margin-bottom: 20px;
}

.nav-pills .nav-item .nav-link.active {
    background: #71092a;
    color: #fff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .35);
}

.btn-shadow {
    box-shadow: 0 10px 0 #71092a;
    border-radius: 10px;
    padding: 10px 25px;
    transition: all .5s;
    color: #fff;
}

.btn-shadow:hover {
    background:  #520820;
    box-shadow: 0 5px 0 #520820;
    color: #fff;
}

/* ================ section-progress ================= */
.section-progress {
	background: #4b2d7f;
	color: #fff;
	font-size: 15px;
	text-shadow: 0 0 3px #000;
	padding: 0;
}

.section-progress .progress-item {
	padding: 80px 0;
	transition: background-color .5s ease-in-out;
}

.section-progress .progress-item:hover {
	background-color: #40286a;
}

.section-progress i {
	font-size: 70px;
}

.section-progress .num {
	font-size: 50px;
	font-weight: 600;
	margin: 30px 0 20px;
}

.section-progress h4 {
	font-size: 30px;
	height: 72px;
	overflow: hidden;
}

/* ================== section-lets ==================== */
.section-lets {
    background: url("../img/letsgrow.jpg") no-repeat center/cover fixed;
    color: #fff;
    text-shadow: 0 0 3px #000;
}

/* ================== section-design ==================== */
.section-design h3,
.section-design h4 {
	color: #484848;
}

.section-design h3 {
	font-size: 33px;
}

.section-design span i {
	font-size: 60px;
	background: linear-gradient(45deg, rgba(255, 0, 32, .7) 0%, rgba(68, 26, 130, .8) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-left: 15px;
}

.section-design h2 {
	font-size: 25px;
	font-weight: 600;
	color: #484848;
	margin: 10px 0;
}

.section-design p {
	font-size: 14px;
}

.embed-responsive {
	position: relative;
	border-radius: 10px;
}

#videoPlayBtn {
	width: 100%;
	height: 100%;
	z-index: 1000;
	position: absolute;
	top: 0;
	cursor: pointer;
	background: url("../img/play.png") center no-repeat;
}

/* ================== section-reviews ==================== */
.section-reviews {
	background: url("../img/reviews_bg.jpg") no-repeat center/cover;
	padding-top: 20px;
	padding-bottom: 0;
}

.section-reviews .carousel-caption {
	top: 5%;
	bottom: auto;
	text-align: left;
}

.section-reviews .blockquote {
	font-style: italic;
	font-weight: 500;
	font-size: 22px;
	position: relative;
	padding-left: 40px;
	margin-top: 70px;
}

.section-reviews .blockquote::before {
	content: '\201C';
	float: left;
	font-size: 150px;
	font-weight: 500;
	font-style: italic;
	color: #71092a;
	position: absolute;
	top: -80px;
	left: -33px;
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.main-header-text{
		background-color: rgba(0,0,0,.3);
	}

	section {
		padding: 50px 0;
	}

    .section-reviews h3,
    .section-reviews h4 {
        font-size: 25px;
    }

    .section-reviews .blockquote {
        font-size: 17px;
        padding-left: 20px;
        margin-top: 40px;
    }

    .section-reviews .blockquote::before {
        font-size: 100px;
        top: -40px;
    }
}

@media only screen and (max-width : 991px) {
	.navbar-nav{
		background: linear-gradient(45deg, #59746a 0%, #7e7e88 100%);
		position: relative;
		z-index: 1;
		padding: 0 15px;
		border-radius: 4px;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.main-header-text{
		left: 0;
		margin: 0 20px;
		max-width: 100%;
	}
	h3, h4{
		font-size: 30px;
	}

	.section-progress .progress-item {
		padding: 40px 0;
	}
}

@media only screen and (max-width : 600px) {
	.main-header-text{
		top: 90px;
	}
	.main-header-buttons .btn{
		display: block;
		width: 100%;
		margin-bottom: 15px;
	}
	.main-header-buttons .btn:last-child{
		margin-top: 0;
	}
	.btn-shadow {
		box-shadow: 0 5px 0 #71092a;
		padding: 10px 15px;
	}
}

@media only screen and (max-width : 576px) {
	.section-reviews .carousel-caption {
        position: static;
        width: 70%;
        margin: auto;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.section-watch .nav-pills .nav-link {
		padding: 8px 16px;
	}
	.section-watch .nav-pills .nav-item {
		width: 100%;
	}
}

@media only screen and (max-width : 380px) {
	.main-header .navbar-brand{
		font-size: 30px;
	}
}
